@import 'tailwindcss';
@plugin "@tailwindcss/forms";

body {
  font-family: ui-sans-serif, sytem-ui, sans-serif;
}

.error-message {
  color: darkred;
  background-color: pink;
  border-style: solid;
  border-width: 1px;
  border-color: darkred;
  margin-top: 10px;
  padding: 10px;
}

.info-message {
  color: darkgreen;
  background-color: lightgreen;
  border-style: solid;
  border-width: 1px;
  border-color: darkgreen;
  margin-top: 10px;
  padding: 10px;
}
